<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widtd=device-widtd, initial-scale=1, shrink-to-fit=no">
        <meta name="author" value="Fit Software & Consulting">
        <title>Plantilla</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
        <link href="css/hubble.css" rel="stylesheet" th:href="@{/css/maite.css}">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="#" th:href="@{/}">Hubble- Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navBar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="aplicaciones.html">Aplicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="proveedores.html">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usuarios.html">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            <h1>Aplicaciones</h1>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary"
                            data-toggle="modal" data-target="#crearAplicacion">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <table id="aplicaciones" class="table table-hover">
                <thead>
                    <tr>
                        <th>Aplicaci&oacute;n</th>
                        <th class="check">Activa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="homeBanking.html">Home banking</a>
                        </td>
                        <td class="check"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="mobileBanking.html">Mobile banking</a>
                        </td>
                        <td class="check"><i class="fa fa-check"></i></td>
                    </tr>
                </tbody>
            </table>
        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        <div id="crearAplicacion" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nueva aplicaci&oacute;n</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Descripci&oacute;n</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-check"></i> Registrar la aplicaci&oacute;n
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
