<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widtd=device-widtd, initial-scale=1, shrink-to-fit=no">
        <meta name="author" value="Fit Software & Consulting">
        <title>BSM</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
        <link href="css/jquery.switchButton.css" rel="stylesheet"> 
        <link href="css/hubble.css" rel="stylesheet" th:href="@{/css/maite.css}">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="#" th:href="@{/}">Hubble- Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navBar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="aplicaciones.html">Aplicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="proveedores.html">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usuarios.html">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            <h1>BSM</h1>
            <input type="checkbox" class="habilitar switch" checked>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Entorno</div>
                        <div class="card-body">
                            <div class="form-group ">
                                <label>URL del Endpoint SOAP</label>
                                <input type="text"
                                       value="http://t-srvbacapplsar.tsoftglobal.com/topaz/gdeopenapi/services/GdeWsOpenAPI?wsdl"
                                       class="form-control">
                            </div>
                            <div class="form-group ">
                                <label>Acci&oacute;n SOAP</label>
                                <input type="text" class="form-control" 
                                       value="http://t-srvbacapplsar.tsoftglobal.com/topaz/gdeopenapi/services/GdeWsOpenAPI">
                            </div>
                            <div class="form-group ">
                                <label>Usuario</label>
                                <input type="text" class="form-control" value="admin">
                            </div>
                            <div class="form-group ">
                                <label>Clave</label>
                                <input type="password" class="form-control" value="admin">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Configuraci&oacute;n</div>
                        <div class="card-body">
                            <div class="alert alert-warning">
                                <i class="fa fa-exclamation"></i> Verificar qu&eacute; configuraci&oacute;n poner.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">Task runner</div>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="checkbox" class="habilitar switch" checked>
                            </div>
                            <div class="form-group">
                                <label>Días de la semana</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dias">
                                    <label class="form-check-label" for="dias">
                                        Lunes a viernes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dias">
                                    <label class="form-check-label" for="dias">
                                        Todos los días
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Días de la semana</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dias">
                                    <label class="form-check-label" for="dias">
                                        9:00 a 18:00
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dias">
                                    <label class="form-check-label" for="dias">
                                        Las 24 horas
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Frecuencia de ejecución</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dias">
                                    <label class="form-check-label" for="dias">
                                        Una vez por día
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="dias">
                                    <label class="form-check-label" for="dias">
                                        Cada 1 hora.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Guardar cambios</button>
        </main>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        <script src="js/jquery.switchButton.js"></script>
        <script src="js/hubble.js"></script>
    </body>
</html>
