<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="widtd=device-widtd, initial-scale=1, shrink-to-fit=no">
        <meta name="author" value="Fit Software & Consulting">
        <title>Home banking</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
        <link href="css/hubble.css" rel="stylesheet" th:href="@{/css/maite.css}">
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
                <a class="navbar-brand" href="#" th:href="@{/}">Hubble- Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navBar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="aplicaciones.html">Aplicaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="proveedores.html">Proveedores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container">
            <h1>Home banking</h1>
            <div class="form-group">
                <label>Descripci&oacute;n</label>
                <textarea class="form-control" rows="3">Home Banking es una aplicación que permite a los clientes del banco:
   * Consultar saldos y movimientos de sus cuentas (cajas de ahorro, cuentas corrientes).
   * Solicitar nuevas chequeras.
   * Comprar y vender dólares.
   * Suscribir fondos comunes de inversión.
   * Invertir en bonos, acciones, Lebacs y Letes.</textarea>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" id="tareas-tab" data-toggle="tab" href="#tareas" role="tab" aria-controls="tareas" aria-selected="false">
                        Tareas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="defectos-tab" data-toggle="tab" href="#defectos" role="tab" aria-controls="defectos" aria-selected="false">
                        Defectos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="disponibilidad-tab" data-toggle="tab" href="#disponibilidad" role="tab" aria-controls="disponibilidad" aria-selected="false">
                        Disponibilidad
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="performance-tab" data-toggle="tab" href="#performance" role="tab" aria-controls="performance" aria-selected="false">
                        Performance
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="eventos-tab" data-toggle="tab" href="#eventos" role="tab" aria-controls="eventos" aria-selected="false">
                        Eventos
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tareas" role="tabpanel" aria-labelledby="tareas-tab">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="habilitar-tareas" checked>
                            <label class="form-check-label" for="habilitar-tareas">
                                Habilitar medici&oacute;n de tareas
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">Configuraci&oacute;n del KPI</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="text-success"><i class="fa fa-thumbs-up"></i> Normal</label>
                                        <input type="number" step="1" class="form-control" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-warning"><i class="fa fa-exclamation-triangle"></i> Advertencia</label>
                                        <input type="number" step="1" class="form-control" value="2">
                                    </div>
                                    <div class="form-group">
                                        <label  class="text-danger"><i class="fa fa-times-circle"></i> D&Cr&iacute;tico</label>
                                        <input type="number" step="1" class="form-control" value="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">Integraci&oacute;n con PPM</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ppm-task-runner">
                                            <label class="form-check-label" for="ppm-task-runner">
                                                Habilitar en Task Runner
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre de la aplicaci&oacute;n</label>
                                        <input type="text" step="1" class="form-control" value="Benchmark Home Banking">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="defectos" role="tabpanel" aria-labelledby="defectos-tab">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="habilitar-defectos" checked>
                            <label class="form-check-label" for="habilitar-defectos">
                                Habilitar medici&oacute;n de defectos
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Configuraci&oacute;n del KPI</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="text-success"><i class="fa fa-thumbs-up"></i> Normal</label>
                                        <input type="number" step="1" class="form-control" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-warning"><i class="fa fa-exclamation-triangle"></i> Advertencia</label>
                                        <input type="number" step="1" class="form-control" value="2">
                                    </div>
                                    <div class="form-group">
                                        <label  class="text-danger"><i class="fa fa-times-circle"></i> D&Cr&iacute;tico</label>
                                        <input type="number" step="1" class="form-control" value="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Integraci&oacute;n con ALM</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ppm-task-runner">
                                            <label class="form-check-label" for="ppm-task-runner">
                                                Habilitar en Task Runner
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre de la aplicaci&oacute;n</label>
                                        <input type="text" step="1" class="form-control" value="Benchmark Home Banking">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">Integraci&oacute;n con Jira</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ppm-task-runner">
                                            <label class="form-check-label" for="ppm-task-runner">
                                                Habilitar en Task Runner
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombre de la aplicaci&oacute;n</label>
                                        <input type="text" step="1" class="form-control" value="Benchmark Home Banking">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="disponibilidad" role="tabpanel" aria-labelledby="disponibilidad-tab">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="habilitar-defectos" checked>
                            <label class="form-check-label" for="habilitar-defectos">
                                Habilitar medici&oacute;n de disponibilidad
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Configuraci&oacute;n del KPI</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="text-success"><i class="fa fa-thumbs-up"></i> Normal</label>
                                        <input type="number" step="1" class="form-control" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-warning"><i class="fa fa-exclamation-triangle"></i> Advertencia</label>
                                        <input type="number" step="1" class="form-control" value="2">
                                    </div>
                                    <div class="form-group">
                                        <label  class="text-danger"><i class="fa fa-times-circle"></i> D&Cr&iacute;tico</label>
                                        <input type="number" step="1" class="form-control" value="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Integraci&oacute;n con SiteScope</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ppm-task-runner">
                                            <label class="form-check-label" for="ppm-task-runner">
                                                Habilitar en Task Runner
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="performance" role="tabpanel" aria-labelledby="performance-tab">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="habilitar-defectos" checked>
                            <label class="form-check-label" for="habilitar-defectos">
                                Habilitar medici&oacute;n de performance
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Configuraci&oacute;n del KPI</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="text-success"><i class="fa fa-thumbs-up"></i> Normal</label>
                                        <input type="number" step="1" class="form-control" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-warning"><i class="fa fa-exclamation-triangle"></i> Advertencia</label>
                                        <input type="number" step="1" class="form-control" value="2">
                                    </div>
                                    <div class="form-group">
                                        <label  class="text-danger"><i class="fa fa-times-circle"></i> D&Cr&iacute;tico</label>
                                        <input type="number" step="1" class="form-control" value="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Integraci&oacute;n con BSM</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ppm-task-runner">
                                            <label class="form-check-label" for="ppm-task-runner">
                                                Habilitar en Task Runner
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="eventos" role="tabpanel" aria-labelledby="eventos-tab">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="habilitar-defectos" checked>
                            <label class="form-check-label" for="habilitar-defectos">
                                Habilitar medici&oacute;n de eventos
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Configuraci&oacute;n del KPI</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="text-success"><i class="fa fa-thumbs-up"></i> Normal</label>
                                        <input type="number" step="1" class="form-control" value="1">
                                    </div>
                                    <div class="form-group">
                                        <label class="text-warning"><i class="fa fa-exclamation-triangle"></i> Advertencia</label>
                                        <input type="number" step="1" class="form-control" value="2">
                                    </div>
                                    <div class="form-group">
                                        <label  class="text-danger"><i class="fa fa-times-circle"></i> D&Cr&iacute;tico</label>
                                        <input type="number" step="1" class="form-control" value="5">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Integraci&oacute;n con AppPulse</div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="ppm-task-runner">
                                            <label class="form-check-label" for="ppm-task-runner">
                                                Habilitar en Task Runner
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Guardar cambios</button>
        </main>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    </body>
</html>
